.dashboard{
  .basic-nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 45px;
    .header {
      margin: 8px 20px;
      width: 100px;
      color: #FFFFFF;
      font-size: 20px;
    }
  } 

  .plugin-iframe {
    min-height: 100vh;
    width: 100%;
    margin-top: 45px;
  }
}