node_modules
output
/lerna-debug.log
pipcook-pipeline-*
.DS_STORE
.vscode/
dist
tsconfig.tsbuildinfo
samples/
samples*/
.pipcook-log/
pipcook_venv
.temp
detectron2
.temp1
pipcook-output/
docs/typedoc
.eslintcache
packages/pipboard/build
.eslintcache
ENV
.test
.pip
packages/cli/assets/server/**
packages/daemon/.github/**
packages/**/coverage
packages/**/.nyc_output
.pipcook
__pycache__
.history
*.pb
