node_modules
/lerna-debug.log
pipcook-pipeline-*
.DS_STORE
.vscode/
dist
tsconfig.tsbuildinfo
samples/
samples*/
.pipcook-log/
pipcook_venv
.temp
detectron2
.temp1
pipcook-output/
docs/typedoc
.eslintcache
packages/pipboard-client/build
.eslintcache
packages/pipcook-cli/assets/server
ENV
.test
