sudo: false
language: node_js
node_js:
  - '8'
  - '10'
  - '12'
  - '14'
git:
  submodules: false
before_install:
  - git submodule update --init --recursive
  - npm i npminstall -g
install:
  - npminstall
script:
  - npm run ci
after_script:
  - npminstall codecov && codecov
