.status{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  .no-job {
    font-size: 20px;
  }

  .codes {
    font-size: 15px;
    color: #999;
  }
  .tips {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
  }
}