.iceDesignLiteAside {
  &.iceDesignLayoutAside {
    :global {
      .next-nav, .next-nav-sub-nav-item  {
        background: transparent;
      }
      .next-nav .next-nav-item.next-menu-item {
        color: white;
        background: transparent;
      }
      .next-nav .next-menu-sub-menu .next-menu-item {
        &.next-selected, &:hover {
          background: $color-brand1-6;
          border-radius: $corner-2;
        }
      }
    }
    .menuBtn {
      position: fixed;
      top: 82px;
      left: 0;
      z-index: 9;
      width: 40px;
      height: 40px;
      color: #fff;
      line-height: 40px;
      text-align: center;
      text-decoration: none;
      background: #2077ff;
      border-radius: 0 6px 6px 0;
      cursor: pointer;
      &:hover {
        color: #e7e7e7;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .iceDesignLiteAside {
    &.iceDesignLayoutAside {
      position: fixed;
      top: 0;
      bottom: 0;
      left: -256px;
      z-index: 9999;
      padding: 0 20px;
      background: #2e323e !important;
    }

    .openDrawer {
      transform: translateX(256px);

      :global {
        .logo {
          width: 200px;
          margin: 20px 0;
          text-align: center;
        }
      }
    }
  }
}
.nav-box {
  width: 200px;
}
