.card-wrapper {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 450px;
  margin: 0 80px;
  background-image: linear-gradient(to bottom, #EFF4FF, #FFFFFF);
  border-radius: 2px 2px 0 0;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear, \n-webkit-transform 0.2s linear;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  &:hover {
    text-decoration: none;
    transform: translateY(-20px);
    box-shadow: 0 0 41px rgba(0, 0, 0, 0.09);
  }
}

  
.card-img {
  width: 100%;
  height: 240px;
  border: 0;
  border-radius: 2px 2px 0 0;
}

.card-title {
  padding: 0 10px 0 10px;
  margin-top: 20px;
  color: #333;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}

.card-desc {
  height: 80px;
  margin: 14px 15px 0;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}
