.iceDesignLayoutDark {
  &.iceDesignLayout {
    min-height: 100vh;
    background-color: #2e323f;
    background-image: url(https://img.alicdn.com/tfs/TB1_YvwXTtYBeNjy1XdXXXXyVXa-1680-370.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  }

  :global {
    .ice-layout {
      width: 100%;
      min-height: 100vh;
      padding: 0 20px;
      background: transparent;
    }
  
    .ice-layout-main {
      padding: 0 0 0 20px;
    }
  
    .ice-layout-section {
      margin: 20px 0 0;
    }
  }
}
  