.asset-classification {
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .experienceInner {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .content-item {
    width: 800px;
    padding: 10px;
    .label {
      font-weight: 700;
      margin: 0;
      margin-bottom: 10px;
      font-size: 14px;
      color: white
    }
  }
  .pageTitle {
    font-size: 20px;
    padding: 0 10px;
    font-weight: 700;
    color: white;
  }
  .pageDescription {
    padding-left: 10px;
    font-size: 14px;
    color: #999999;
  }
  .imageList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .imageItem {
    background-color: white;
    width: 100px;
    height: 100px;
    margin-right: 5px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .upload-wrap {
    height: 40px;
    width: 566px;
    margin-top: 20px;
  }
  .upload-btn {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    float: left;
  }
  .btn-select-file,
  .btn-generate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 45px;
    color: #fff;
    background-color: #2989ff;
    border: 1px solid #2989ff;
    text-align: center;
    font-size: 14px;
    border-radius: 1px;
    outline: none;
    box-sizing: border-box;
  }
  .btn-select-file {
    width: 150px;
    margin-right: 10px;
  }
  .btn-generate {
    width: 100px;
  }
  .pic-upload-action-input {
    height: 38px;
    background-color: rgb(255, 255, 255);
    width: 220px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 4px 11px;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    border: 1px solid #d9d9d9;
    border-right-width: 0;
    border-radius: 0;
    transition: all 0.3s;
    float: left;
    &:focus {
      outline: 0;
      border-color: #2989ff;
    }
  }
}

