name: Benchmark
on:
  pull_request:

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Install Dependencies
        run: |
          t1=$(date +%s)
          npm install
          t2=$(date +%s)
          install_time=$((t2-t1))
          echo ::set-output name=install_time::$install_time

      - name: esBuild
        run: |
          t1=$(date +%s)
          npm run dev-build
          t2=$(date +%s)
          esbuild_time=$((t2-t1))
          echo ::set-output name=esbuild_time::$esbuild_time

      - name: build packages
        run: |
          t1=$(date +%s)
          npm run build
          t2=$(date +%s)
          build_time=$((t2-t1))
          echo ::set-output name=build_time::$build_time

      - name: unit test
        run: |
          ./packages/cli/dist/bin/pipcook daemon start
          t1=$(date +%s)
          npm run test
          t2=$(date +%s)
          test_time=$((t2-t1))
          echo ::set-output name=test_time::$test_time

      - name: run pipeline
        run: |
          t1=$(date +%s)
          ./packages/cli/dist/bin/pipcook run ./example/pipelines/mnist-image-classification.json
          t2=$(date +%s)
          mnist_time=$((t2-t1))
          echo ::set-output name=mnist_time::$mnist_time
      - name: save bench
          git config --global user.name 'pipcook'
          git config --global user.email 'queyue.crk@alibaba-inc.com'
          git clone https://github.com/imgcook/pipcook-benchmark.git
          cd pipcook-benchmark
          echo "{install_time:$steps.vars.outputs.install_time, esbuild_time:$steps.vars.outputs.esbuild_time, build_time:$steps.vars.outputs.build_time, test_time:$steps.vars.outputs.test_time, mnist_time:$steps.vars.outputs.mnist_time}"
          git commit -m "add data" --allow-empty
          git push
