name: build
on:
  push:
    branches:
    - master
    paths-ignore:
    - 'docker/**'
    - 'docs/**'
    - 'notebooks/**'
    - '.github/markdown.yml'
    - '*.md'
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]
    branches:
    - master
    paths-ignore:
    - 'docker/**'
    - 'docs/**'
    - 'notebooks/**'
    - '.github/markdown.yml'
    - '*.md'

jobs:
  universal:
    name: Build on node ${{ matrix.node_version }} and ${{ matrix.os }}
    if: ${{ github.event_name == 'push' || github.event.pull_request.draft == false }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        node_version: ['12', '14']
        os: [ubuntu-latest, macOS-latest]
    steps:
    - name: Cancel previous runs
      uses: imgcook/cancel-workflow-action@81524cf
      with:
        access_token: ${{ github.token }}
        exception: master
    - uses: actions/checkout@v2
    - name: Restore lerna
      uses: actions/cache@v2
      with:
        path: |
          node_modules
          */*/node_modules
          packages/boa/pybind11
          packages/boa/pyodide
        key: ${{ runner.os }}-${{ matrix.node_version }}-yarn-${{ hashFiles('yarn.lock', 'packages/boa/pybind11/Makefile', 'packages/boa/pyodide/Makefile') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.node_version }}-yarn
          ${{ runner.os }}-yarn
    - name: Restore miniconda
      uses: actions/cache@v2
      with:
        path: |
          packages/boa/.miniconda
          packages/boa/Miniconda3-latest*.sh
          packages/boa/.CONDA_INSTALL_DIR
        key: ${{ runner.os }}-miniconda-${{ hashFiles('packages/boa/Miniconda3-latest*.sh') }}
        restore-keys: |
          ${{ runner.os }}-miniconda
    - name: Using Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node_version }}
    - name: Building Pipcook
      run: |
        yarn
        yarn build
        yarn init-dev
        du -h -d 1
    - name: Run cov
      if: ${{ runner.os == 'Linux' && matrix.node_version == 12 }}
      run: |
        yarn run cov && yarn run cov-report
    - name: Coveralls
      if: ${{ runner.os == 'Linux' && matrix.node_version == 12 }}
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
    - name: echo lcov.info
      run: |
        cat coverage/lcov.info
    - name: Migration
      if: ${{ runner.os == 'Linux' }}
      run: |
        mkdir -p ~/.pipcook/db && cp ./packages/daemon/test/res/baseline-v1.db ~/.pipcook/db/pipcook.db
    - name: Daemon start
      run: |
        ./packages/cli/dist/bin/pipcook daemon start
    - name: Testing help commands
      run: |
        ./packages/cli/dist/bin/pipcook -v
        ./packages/cli/dist/bin/pipcook -h
        ./packages/cli/dist/bin/pipcook init --help
        ./packages/cli/dist/bin/pipcook run --help
        ./packages/cli/dist/bin/pipcook plugin-dev --help
        ./packages/cli/dist/bin/pipcook serve --help
    - name: Pipcook sdk test
      run: |
        npx ts-node ./run_tests.ts
    - name: install plugins from specific pipeline
      run: |
        ./packages/cli/dist/bin/pipcook pipeline install ./example/pipelines/chinese-poem-creation.json
        ./packages/cli/dist/bin/pipcook pipeline install https://raw.githubusercontent.com/alibaba/pipcook/master/example/pipelines/text-bayes-classification.json
    - name: Running an example pipeline
      run: |
        yarn test:pipeline -- text-bayes-classification
    - name: Install a new plugin and install a installed plugin
      run: |
        ./packages/cli/dist/bin/pipcook plugin install @pipcook/plugins-chinese-poem-data-collect
        ./packages/cli/dist/bin/pipcook plugin install @pipcook/plugins-chinese-poem-data-collect
    - name: Install plugin from local project
      run: |
        ./packages/cli/dist/bin/pipcook plugin install ./packages/costa/tests/plugins/nodejs-simple
        cd ./packages/costa/tests/plugins/nodejs-simple && yarn pack && cd -
        ./packages/cli/dist/bin/pipcook plugin install ./packages/costa/tests/plugins/nodejs-simple/nodejs-simple-v1.0.0.tgz
    - name: Pipcook run from local filename
      run: |
        ./packages/cli/dist/bin/pipcook run ./example/pipelines/text-bayes-classification.json
        ls ./output && rm -rf ./output
        ./packages/cli/dist/bin/pipcook run ./example/pipelines/text-bayes-classification.json --output mydir
        ls ./mydir && rm -rf ./mydir
    - name: Pipcook run from url
      run: |
        ./packages/cli/dist/bin/pipcook run https://raw.githubusercontent.com/alibaba/pipcook/master/example/pipelines/text-bayes-classification.json
        ls ./output && rm -rf ./output
    - name: Remove pipelines
      run: |
        ./packages/cli/dist/bin/pipcook pipeline remove all -y
    - name: Pipcook plugin development
      run: |
        ./packages/cli/dist/bin/pipcook plugin-dev -t dataCollect
    - name: Daemon start on customized port
      run: |
        ./packages/cli/dist/bin/pipcook daemon stop
        echo "{ \"host\": \"127.0.0.1\", \"port\": 7000 }" > ~/.pipcook/daemon.config.json
        ./packages/cli/dist/bin/pipcook daemon start
        ./packages/cli/dist/bin/pipcook pipeline list -h 127.0.0.1 -p 7000
