name: build
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  universal:
    name: Build on node ${{ matrix.node_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node_version: ['12']
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v1
    - name: restore lerna
      uses: actions/cache@v2
      with:
        path: |
          node_modules
          */*/node_modules
        key: ${{ runner.os }}-${{ matrix.node_version }}-${{ hashFiles('**/package-lock.json') }}
    - name: restore miniconda
      uses: actions/cache@v2
      with:
        path: |
          */*/.miniconda
          */*/Miniconda3-latest*.sh
        key: ${{ runner.os }}-miniconda
    - name: Using Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node_version }}
    - name: Building Pipcook
      run: |
        npm install
        npm run build
        du -h -d 2
    - name: Running unit tests
      run: |
        npm test
    - name: daemon start
      run: |
        ./packages/cli/dist/bin/pipcook daemon start
    - name: Testing help commands
      run: |
        ./packages/cli/dist/bin/pipcook -v
        ./packages/cli/dist/bin/pipcook -h
        ./packages/cli/dist/bin/pipcook init --help
        ./packages/cli/dist/bin/pipcook run --help
        ./packages/cli/dist/bin/pipcook plugin-dev --help
        ./packages/cli/dist/bin/pipcook serve --help
    - name: pipcook sdk test
      run: |
        npx ts-node ./run_tests.ts  
    - name: Running an example pipeline
      run: |
        npm run test:pipeline -- text-bayes-classification
    - name: install plugins from specific pipeline
      run: |
          ./packages/cli/dist/bin/pipcook pipeline install ./sample/pipelines/text-bayes-classification.json
    - name: pipcook run from local filename
      run: |
        ./packages/cli/dist/bin/pipcook run ./sample/pipelines/text-bayes-classification.json
        ls ./output && rm -rf ./output
    - name: pipcook run from url
      run: |
        ./packages/cli/dist/bin/pipcook run https://raw.githubusercontent.com/alibaba/pipcook/master/example/pipelines/text-bayes-classification.json
        ls ./output && rm -rf ./output
    - name: "pipcook plugin-dev"
      run: |
        ./packages/cli/dist/bin/pipcook plugin-dev -t dataCollect