name: build
on:
  push:
    branches:
    - main
    paths-ignore:
    - 'docker/**'
    - 'docs/**'
    - 'notebooks/**'
    - '.github/markdown.yml'
    - '*.md'
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]
    branches:
    - main
    paths-ignore:
    - 'docker/**'
    - 'docs/**'
    - 'notebooks/**'
    - '.github/markdown.yml'
    - '*.md'

jobs:
  universal:
    name: Build on node ${{ matrix.node_version }} and ${{ matrix.os }}
    if: ${{ github.event_name == 'push' || github.event.pull_request.draft == false }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        node_version: ['12', '14']
        os: [ubuntu-latest, macOS-latest]
    steps:
    - name: Cancel previous runs
      uses: imgcook/cancel-workflow-action@81524cf38ed0e3a5865a550dde6118d26b7a5ede
      with:
        access_token: ${{ github.token }}
        exception: main
    - uses: actions/checkout@v2
    - name: Restore node_modules and boa dependencies
      uses: actions/cache@v2
      with:
        path: |
          node_modules
          */*/node_modules
          packages/boa/pybind11
          packages/boa/pyodide
        key: ${{ runner.os }}-${{ matrix.node_version }}-yarnpkg-${{ hashFiles('**/yarn.lock', 'packages/boa/pybind11/Makefile', 'packages/boa/pyodide/Makefile') }}
        restore-keys: |
          ${{ runner.os }}-yarnpkg-${{ matrix.node_version }}
          ${{ runner.os }}-yarnpkg
    - name: Restore miniconda
      uses: actions/cache@v2
      with:
        path: |
          packages/boa/.miniconda
          packages/boa/Miniconda3-*.sh
          packages/boa/.CONDA_INSTALL_DIR
        key: ${{ runner.os }}-miniconda-${{ hashFiles('packages/boa/Miniconda3-*.sh') }}
        restore-keys: |
          ${{ runner.os }}-miniconda
    - name: Using Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node_version }}
    - name: Building Pipcook
      run: |
        yarn --verbose
        yarn build
        du -h -d 1
    - name: Running unit tests
      if: ${{ runner.os != 'Linux' || matrix.node_version != 12 }}
      run: |
        yarn test
    - name: Run cov
      if: ${{ runner.os == 'Linux' && matrix.node_version == 12 }}
      run: |
        yarn run cov && yarn run cov:report
    - name: Coveralls
      if: ${{ runner.os == 'Linux' && matrix.node_version == 12 }}
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Run bayes
      env:
        accessKeyId: ${{ secrets.OSS_ACCESS_ID }}
        accessKeySecret: ${{ secrets.OSS_ACCESS_SECRET }}
      run: |
        ./packages/cli/dist/bin/pipcook run ./example/pipelines/bayes.v2.json -d
        ./packages/cli/dist/bin/pipcook run ./example/pipelines/mobilenet.v2.json -d
