name: build
on:
  push:
    branches:
    - main
    paths-ignore:
    - 'docker/**'
    - 'docs/**'
    - 'notebooks/**'
    - '.github/markdown.yml'
    - '*.md'
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]
    branches:
    - main
    paths-ignore:
    - 'docker/**'
    - 'docs/**'
    - 'notebooks/**'
    - '.github/markdown.yml'
    - '*.md'

jobs:
  universal:
    name: Build on node ${{ matrix.node_version }} and ${{ matrix.os }}
    if: ${{ github.event_name == 'push' || github.event.pull_request.draft == false }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        node_version: ['12', '14']
        os: [ubuntu-latest, macOS-latest, windows-latest]
    steps:
    - name: Cancel previous runs
      uses: imgcook/cancel-workflow-action@81524cf38ed0e3a5865a550dde6118d26b7a5ede
      with:
        access_token: ${{ github.token }}
        exception: main
    - uses: actions/checkout@v2
    - name: Restore node_modules
      uses: actions/cache@v2
      with:
        path: |
          node_modules
          */*/node_modules
        key: ${{ runner.os }}-${{ matrix.node_version }}-nodepkg-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-nodepkg-${{ matrix.node_version }}
          ${{ runner.os }}-nodepkg
    - name: Using Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node_version }}
    - name: Building Pipcook
      run: |
        npm install
        npm run build
        du -h -d 1
    - name: Running unit tests
      if: ${{ runner.os != 'Linux' || matrix.node_version != 12 }}
      run: |
        npm run test
    - name: Run cov
      if: ${{ runner.os == 'Linux' && matrix.node_version == 12 }}
      run: |
        npm run cov && npm run cov:report
    - name: Coveralls
      if: ${{ runner.os == 'Linux' && matrix.node_version == 12 }}
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Run bayes
      run: |
        node ./packages/cli/dist/bin/pipcook.js train ./test/pipelines/text-classification-bayes.json -o my-workspace -d -m http://pc-github.oss-us-west-1.aliyuncs.com/framework/
        && node ./packages/cli/dist/bin/pipcook.js predict ./my-workspace -s testword
    - name: Run mobilenet
      run: |
        node ./packages/cli/dist/bin/pipcook.js train ./test/pipelines/image-classification-mobilenet.json -d -m http://pc-github.oss-us-west-1.aliyuncs.com/framework/
    - name: Run resnet
      run: |
        node ./packages/cli/dist/bin/pipcook.js train ./test/pipelines/image-classification-resnet.json -d -m http://pc-github.oss-us-west-1.aliyuncs.com/framework/
    - name: Run yolo
      run: |
        node ./packages/cli/dist/bin/pipcook.js train ./test/pipelines/object-detection-yolo.json -d -m http://pc-github.oss-us-west-1.aliyuncs.com/framework/
