name: check markdown files
on:
  push:
    branches:
    - master
    paths:
    - '**.md'
  pull_request:
    branches:
    - master
    paths:
    - '**.md'

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-quiet-mode: 'no'
        use-verbose-mode: 'yes'
        config-file: '.markdown.config.json'
        folder-path: 'docs'
