name: Nightly Build Packages
on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Delete branch
        uses: dawidd6/action-delete-branch@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branches: nightly

      - name: Create Nightly Branch
        uses: peterjgrainger/action-create-branch@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          branch: 'nightly'

      - name: Checkout nightly
        uses: actions/checkout@v2
        with:
          ref: nightly
      - name:  Activity check
        run: |
            curl -sL https://api.github.com/repos/${{github.repository}}/commits | jq -r '[.[]' > $HOME/commit.json
            date="$(jq -r '.commit.author.date' $HOME/commit.json)"
            timestamp=$(date --utc -d "$date" +%s)

            days=$(( ( $(date --utc +%s) - $timestamp ) / 86400 ))
            rm -f $HOME/commit.json
            
            echo "Last commit is made $days"

            if [ $days -le 1 ]; then
              echo ::set-env name=UPDATED::true
            fi
        shell: bash

      - name: Setup Node.js
        uses: actions/setup-node@v1
        if: env.UPDATED == 'true'
        with:
          node-version: 12

      - name: Install Dependencies
        if: env.UPDATED == 'true'
        run: |
          npm install
          npm run build

      - name: Publish npm nightly packages
        if: env.UPDATED == 'true'
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.npm_token }}" > ~/.npmrc
          git config --global user.name 'pipcook'
          git config --global user.email 'queyue.crk@alibaba-inc.com'
          npm run nightly-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
          NPM_AUTH_TOKEN: ${{ secrets.npm_token }}
