name: pipeline
on:
  schedule:
  - cron: "0 2 * * *"

jobs:
  universal:
    name: Run ${{ matrix.pipeline }} on node ${{ matrix.node_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node_version: ['12']
        os: [ubuntu-latest]
        pipeline: ['mnist-image-classification', 'databinding-image-classification']
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node_version }}
    - name: install
      run: npm install
    - name: compile
      run: npm run build
    - name: pipeline
      run: npm run test:pipeline -- ${{ matrix.pipeline }}
