name: pipeline
on:
  schedule:
  - cron: "0 2 * * *"

jobs:
  universal:
    name: Run ${{ matrix.pipeline }} on node ${{ matrix.node_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node_version: ['12']
        os: [ubuntu-latest]
        pipeline: ['mnist-image-classification', 'databinding-image-classification-resnet', 'text-bayes-classification', 'fasttext', 'english-name-entity-recognition']
    steps:
    - uses: actions/checkout@v2
    - name: Using Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node_version }}
    - name: install
      run: yarn
    - name: compile
      run: yarn build
    - name: initilize pipcook
      env:
        NODE_ENV: local
      run: |
        ./packages/cli/dist/bin/pipcook init
        ./packages/cli/dist/bin/pipcook daemon start
    - name: pipeline
      run: yarn test:pipeline -- ${{ matrix.pipeline }}
