name: Publish Packages
on:
  push:
    branches:
    - release/sync-aliyun

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Sync from dockerhub to Aliyun
        env:
          ALI_DOCKER_USERNAME: ${{ secrets.ALI_DOCKER_USERNAME }}
          ALI_DOCKER_PASSWORD: ${{secrets.ALI_DOCKER_PASSWORD}}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          RELEASE_VERSION: 0.0.1
        run: |
          wget https://github.com/AliyunContainerService/image-syncer/releases/download/v1.2.0/image-syncer-v1.2.0-linux-amd64.tar.gz
          tar -zxvf image-syncer-v1.2.0-linux-amd64.tar.gz

          echo {\"registry.cn-hangzhou.aliyuncs.com\": {\"username\": \"$ALI_DOCKER_USERNAME\", \"password\": \"$ALI_DOCKER_PASSWORD\"} \
          , \"registry.hub.docker.com\": {\"username\":\"$DOCKER_USERNAME\", \"password\":\"$DOCKER_PASSWORD\"}} >> auth.json

          echo {\"pipcook/pipcook:latest\": \"registry.cn-hangzhou.aliyuncs.com/pipcook/pipcook:latest,$RELEASE_VERSION\"} >> images.json

          ./image-syncer --auth=./auth.json --images=./images.json --namespace=pipcook --registry=registry.cn-hangzhou.aliyuncs.com --retries=3
          
