.mnist {
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .toast {
    font-size: 18px;
    color: white;
    margin-bottom: 40px;
  }

  .canvas-wrapper {
    width: 100%;
    height: 100%;
  }

  .predict-button {
    position: absolute;
    right: 30px;
    top: 30px;
  }
}
